ASP.NET/ES09_WEBSERVICE_SOAP/Consumer/Web References/localhost/WebServiceSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Classi">
        <s:complexType />
      </s:element>
      <s:element name="ClassiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClassiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClassiSoapIn">
    <wsdl:part name="parameters" element="tns:Classi" />
  </wsdl:message>
  <wsdl:message name="ClassiSoapOut">
    <wsdl:part name="parameters" element="tns:ClassiResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSOAPSoap">
    <wsdl:operation name="Classi">
      <wsdl:input message="tns:ClassiSoapIn" />
      <wsdl:output message="tns:ClassiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSOAPSoap" type="tns:WebServiceSOAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Classi">
      <soap:operation soapAction="http://tempuri.org/Classi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSOAPSoap12" type="tns:WebServiceSOAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Classi">
      <soap12:operation soapAction="http://tempuri.org/Classi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSOAP">
    <wsdl:port name="WebServiceSOAPSoap" binding="tns:WebServiceSOAPSoap">
      <soap:address location="http://localhost:56075/WebServiceSOAP.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSOAPSoap12" binding="tns:WebServiceSOAPSoap12">
      <soap12:address location="http://localhost:56075/WebServiceSOAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>